<!DOCTYPE html>
<html lang="en" ng-app="bookbar">
<head>
	<meta charset="utf-8">
	<title>图书管理</title>
	<link rel="stylesheet" href="lib/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="lib/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- 该添加那些css文件 -->
</head>
<body>
	<div id="first-page" style="display: block;">
		<img src="images/firstpage.jpg" width="380px" height="380px">
		<button type="button" class="btn btn-secondary" id="switch" onclick="showdiv()">Welcome BookBar</button>
	</div>
	<!-- 第一页 -->
	<div class="container" ng-controller="MyCtrl" id="show" style="display: none;">
		<nav class="navbar navbar-light bg-light justify-content-between">
			<a class="navbar-brand" href="#">Book Bar</a>
			<form class="form-inline">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</nav>
		<!-- bootstrap media代码:产生图片加文字 -->
			<div class="media" ng-repeat="item in book" >
		  		<img class="align-self-center mr-3" ng-src="{{item.img}}" alt="Generic placeholder image" width="120px" height="90px">
		  		<div class="media-body">
		    		<h5 class="mt-0" ng-model="name">{{item.name}}</h5>
		    		<p id="author" ng-name="author">{{item.author}}</p>
		    		<p class="mb-0" ng-model="introdution">{{item.introduction}}</p>
		  		</div>
			</div>
	</div>
	


			
    <script src="lib/jquery.min.js"></script>
    <script src="lib/tether.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/script.js"></script>      
    <!-- (什么时候用什么js文件？) -->
</body>
</html>